@import url("reset.css");
/* Тест трактора*/
/* .definition {}

.history {}

.test1 {}

.img {}

.contacts {} */

/* Селектор по тегу */
h2{
   color: chocolate;
}

/* Селектор по класу */
/* .test1 {
   color: rgb(84, 165, 165);
} */

/* Селектор по id */
/* #media{
   color: rgb(178, 39, 155);
} */

/* Селектлор атрибутів */
/* [class*="est"] {
   color: red;
} */

/* Комбінований селектор */

/* div.history{
   color: green;
} */

/* До декілька */
/* .definition,.histor,.test1,.test2{color: blue;} */

/* Вкладеність */

.history p {
   color: red;
}

.contacts *{
   color: blueviolet;
}

/* Найважче */
.history > h2 {
   color: chartreuse;
}
 /* .history ~ p {
   color: rgb(54, 32, 162);
 } */

  .history~p {
     color: rgb(177, 194, 23);
  }