.wrapper{
   min-height: 100%;
   overflow: clip;
   margin: -8px;
}

.footer{
   display: none;
}
.header{
   display: none;
}

.space{
   background: url("../img/space.avif") center / cover no-repeat;
   min-height: 1300px;
   width: 100%;
   perspective: 400px;
}

.rocket {
   margin: 0 auto;
   padding-top: 500px;
   height: 535px;
   width: 210px;
}

.rocket__top {
   background: linear-gradient(to right, #445EF7 20%, #8EA7F7 50%, #445EF7 80%);
   height: 70px;
   width: 70px;
   border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
   position: relative;
   z-index: 100;
   border: 2px solid black;
}

.rocket__hull {
   width: 125px;
   height: 255px;
   background: linear-gradient(to right, #D1D9E6 20%, #ECEFF4 50%, #D1D9E6 80%);
   border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
   position: relative;
   right: 28px;
   top: -25px;
   z-index: 3;
   border: 2px solid black;
}

.rocket__window{
   height: 65px;
   width: 65px;
   border-radius: 50%;
   background: url("../img/sensei.avif") center / cover  no-repeat;
   position: relative;
   top: 65px;
   left: 30px;
   outline: 6px solid #445ef7;
   border: 2px solid black;
}

.rocket__left-wing {
   height: 140px;
   width: 70px;
   background: linear-gradient(to right, #445EF7 10%, #8EA7F7 40%, #445EF7 90%);
   border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
   position: relative;
   bottom: 170px;
   left: -80px;
   z-index: 2;
   border: 2px solid black;
}

.rocket__right-wing {
   height: 140px;
   width: 70px;
   background: linear-gradient(to right, #445EF7 10%, #8EA7F7 40%, #445EF7 90%);
   border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
   position: relative;
   bottom: 310px;
   left: 80px;
   z-index: 2;
   border: 2px solid black;
}

.rocket__fire {
   width: 70px;
   height: 200px;
   background-color: #FFEE88;
   border-radius: 50% 50% 50% 50% / 10% 10% 90% 90%;
   position: relative;
   top: -350px;
   right: 18px;
   outline: 25px solid #FF6808;
   border:  20px solid #FFB63A;
   z-index: 1;
}

.rocket:hover {
   padding-top: 100px;
   transition: all 0.8s;
   transform: rotateX(20deg);
}

.rocket:hover .rocket__top {
   background: linear-gradient(to top, #445EF7 0%, #8EA7F7 30%, #FFA500 50%, #FF6347 70%, #e21c1c 100%);
}

.rocket:hover .rocket__fire {
   transform: scale(1.2);
   height: 550px;
   background-color: #e21c1c;
}

.rocket:hover .rocket__right-wing,
.rocket:hover .rocket__left-wing {
   background: linear-gradient(to top, #445EF7 0%, #8EA7F7 30%, #FFA500 50%, #FF6347 70%, #e21c1c 100%);
}