body{
   font-family: "Caveat", cursive;
   background-color: #FAD961;
   background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
   font-size: 30px;
}

.header{
   text-align: center;
   font-weight: 700;
   font-size: 46px;
   padding-top: 20px;
   margin-bottom: 50px;
}
.header:hover{
   color: rgb(255, 255, 255);
   transition: all 0.5s ease-in-out;
}
.wrapper{
   overflow: clip;
   min-height: 100%;
}
.conteiner{
   background-color: #db8f47;
   background-image: linear-gradient(19deg, #db8f47 0%, #ffffff 100%);
   width: 1300px;
   margin: 0 auto;
   padding-inline: 15px;
   margin-bottom: 50px;
}

ul{
   padding: 30px;
}

li{
   margin-bottom: 15px;
   min-height: 105px;
}

.list1::before {
   background: url("../img/icons/human.svg") no-repeat ;
   content:"";
   height: 81px;
   width: 81px;
}

.list2::before {
   background: url("../img/icons/medal.svg") no-repeat;
   content: "";
   height: 86px;
   width: 57px;
}

.list3::before {
   background: url("../img/icons/mountain.svg") no-repeat;
   content: "";
   height: 80px;
   width: 105px;
}

.list5::before {
   background: url("../img/icons/people.svg") no-repeat;
   content: "";
   height: 84px;
   width: 84px;
}

.list4{
   padding-top: 35px;
}

.list4::before {
   background: url("../img/icons/plus.svg") no-repeat;
   content: "";
   height: 24px;
   width: 24px;
}

.list6::before {
   background: url("../img/icons/quotes.svg") no-repeat;
   content: "";
   height: 65px;
   width: 81px;
}

.list7::before {
   background: url("../img/icons/rocket.svg") no-repeat;
   content: "";
   height: 84px;
   width: 84px;
}

.list8{
   margin-bottom: 0px;
}

.list8::before {
   background: url("../img/icons/schedule.svg") no-repeat;
   content: "";
   height: 77px;
   width: 84px;
}

li:hover{
   color: rgb(255, 255, 255);
   transition: all 0.5s ease-in-out;
}
.img1 img{
   border-radius: 28% 0px;
}

.img2{
   width: 99%;
   margin: 0 auto;
   margin-bottom: 40px;
}

.img3 {
   width: 99%;
   margin: 0 auto;
   margin-bottom: 40px;
}
.footer{
   text-align: center;
   padding-bottom: 30px;
}
.footer a:hover{
   color: rgb(255, 255, 255);
   transition: all 0.5s ease-in-out;
}
