@font-face {
   font-family: 'Switzer';
   src: url('../fonts/Switzer-LightItalic.woff2') format('woff2');
   font-weight: 300;
   font-display: swap;
   font-style: italic;
}

@font-face {
   font-family: 'Switzer';
   src: url('../fonts/Switzer-Medium.woff2') format('woff2');
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Switzer';
   src: url('../fonts/Switzer-Regular.woff2') format('woff2');
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}