@font-face {
   font-family: 'Ranade';
   src: url('../fonts/Ranade-Bold.woff2') format('woff2');
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Ranade';
   src: url('../fonts/Ranade-Medium.woff2') format('woff2');
   font-weight: 500;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Ranade';
   src: url('../fonts/Ranade-Regular.woff2') format('woff2');
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}