@font-face {
   font-family: "KoPub Batang";
   src: url("../fonts/kopub-batang-light.woff2") format("woff2");
   font-display: swap;
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "KoPub Batang";
   src: url("../fonts/kopub-batang-regular.woff2") format("woff2");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}