@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.wrapper {
   max-width: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.header {
   display: none;
}
.page {
   flex-grow: 1;
}
.teacher {
   background-color: #412672;
   padding: 15px;
   font-family: "Inter", sans-serif;
}
.teacher__conteiner {
   margin:6% 16%;
}
.teacher__conteiner h1{
   font-size: 38px;
   line-height: 46px;
   font-weight: 400;
   color: #fff;
   margin-bottom: 31px;
}
.teacher__conteiner h1 span{
   font-weight: 700;
}
.teacher__row {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
/* Картка */
.card-teacher {
   display: flex;
   flex-direction: column;
   padding: 20px;
   background-color: #fff;
   font-family: 'Inter', sans-serif;
   transition: all 0.4s;
   flex: 1 1 347px;
}
.card-teacher img{
}
.card-teacher h2{
   font-size: 22px;
   font-weight: 600;
   line-height: 27px;
   color: #000;
   flex-shrink: 1;
}
.card-teacher p{
   font-size: 15px;
   color: #4F4F4F;
   line-height: 19px;
   flex-grow: 1;
}
.card-teacher a{
   color: #FE3F3F;
   font-size: 15px;
   line-height: 19px;
   transition: all 0.4s;
}
.card-teacher *:not(:last-child){
   margin-bottom: 16px;
}
.card-teacher:hover{
   background-color: #FFBE48;
}
.card-teacher a:hover{
   color: #fff;
}
/* кінець картки */
/* Другий блок */
.faculty-california {
   background-color: #fff;
   padding: 15px;
   font-family: "Inter", sans-serif;
}
.faculty-california__conteiner {
   margin: 6% 5% 6% 16%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 90px;
}
.faculty-california__text {
   display: flex;
   flex-direction: column;
   flex: 1 1 518px;
   color: #412672;
}
.faculty-california__text > *:not(:last-child){
   margin-bottom: 20px;
}
.faculty-california__text h2{
   font-size: 36px;
   line-height: 41px;
}
.faculty-california__text p{
   font-size: 22px;
   line-height: 27px;
}
.faculty-california__text h2 span{
   font-weight: 700;
}
.faculty-california__text ul li{
   display: flex;
   color: #4F4F4F;
   font-size: 20px;
   line-height: 51px;
   gap: 10px;
   align-items: center;
}
.faculty-california__text ul{
   display: flex;
   flex-direction: column;
}
.faculty-california__text ul li::before{
   content: "";
   background: url("../img/сhecked.svg") 0 0 / 100% no-repeat;
   height: 29px;
   width: 29px;
}
.faculty-california__image{
   display: flex;
   flex: 1 1 764px;
}
/* Третій блок */
.advantages {
   background-color: #412672;
   padding: 5px;
   text-align: center;
   color: #fff;
   font-family: "Inter", sans-serif;
}
.advantages__conteiner {
   margin-block: 70px;
   margin-inline: 16%;
}
.advantages__conteiner h3{
   margin-bottom: 30px;
   font-size: 24px;
   line-height: 29px;
}
.advantages__conteiner h3 span{
   font-weight: 700;
}
.advantages__list {
   display: flex;
   justify-content: space-between;
}
.advantages__item {
   display: flex;
   align-items: center;
   line-height: 24px;
   gap: 10px;
}
.advantages__item p{
   font-size: 15px;
}
.advantages__item p span{
   font-weight: 700;
   font-size: 25px;
}
.advantages__item img{
   width: 70px;
   height: 70px;
}
.footer {
   display: none;
}